In [2]:
import pandas as pd

In [3]:
file = pd.read_excel('FNLDataUS.xlsx')

In [24]:
columnMapping = {
    'Cust Acct':'account_number_billto',
    'Customer':'account_name_billto',
    'Buying Group 1':'member_name',
    'Buying Group 2':'account_group',
    'Buying Group 3':'account_name_level2',
    'Addressship to':'street_address_bill_to',
    'Cityship to':'city_billto',
    'Stateship to': 'state_billto',
    'Currency':'currency',
    'Invoice':'invoice_number',
    'InvoiceDate':'invoice_date',
    'Po Ref':'customer_po_number',
    'Job No':'job_number',
    'InvoiceSequence':'invoice_sequence',
    'BinLocation':'bin_location',
    'Fastenal PartNumber':'pa_distributor_part_number',
    'Cust Part':'customer_part_number',
    'Description':'short_product_description',
    'Long Descr': 'long_product_description',
    'STD/BSS':'standard_bss',
    'Prod Concept':'product_category',
    'Qty Shipped':'shipped_quantity',
    'InvoicePrice/EA': 'unit_price',
    'InvoiceExt Price':'extended_price',
    'CurrentWholesale': 'list_price'

}

In [32]:
df = file
df.rename(columns=lambda x: x.strip(), inplace=True)
columnNames = df.columns

In [34]:
newColumnNames = []
for i in range(0,len(columnNames)):
    newColumnNames.append(columnMapping[columnNames[i]])

In [35]:
newColumnNames

['account_number_billto',
 'account_name_billto',
 'member_name',
 'account_group',
 'account_name_level2',
 'street_address_bill_to',
 'city_billto',
 'state_billto',
 'currency',
 'invoice_number',
 'invoice_date',
 'customer_po_number',
 'job_number',
 'invoice_sequence',
 'bin_location',
 'pa_distributor_part_number',
 'customer_part_number',
 'short_product_description',
 'long_product_description',
 'standard_bss',
 'product_category',
 'shipped_quantity',
 'unit_price',
 'extended_price',
 'list_price']

In [36]:
df.columns = newColumnNames

In [38]:
df['account_number_billto'].findN

0        IL0030005
1        IL0030005
2        IL0030005
3        IL0030005
4        IL0030005
           ...
46460    MOSL31268
46461    MOSL31268
46462    MOSL31268
46463    MOSL31268
46464    MOSL31268
Name: account_number_billto, Length: 46465, dtype: object

In [39]:
DF_new_row=df[df['account_number_billto']=='']

In [40]:
DF_new_row

Empty DataFrame
Columns: [account_number_billto, account_name_billto, member_name, account_group, account_name_level2, street_address_bill_to, city_billto, state_billto, currency, invoice_number, invoice_date, customer_po_number, job_number, invoice_sequence, bin_location, pa_distributor_part_number, customer_part_number, short_product_description, long_product_description, standard_bss, product_category, shipped_quantity, unit_price, extended_price, list_price]
Index: []

[0 rows x 25 columns]